.hidden-zombie {
  position: fixed;
  bottom: clamp(10px, 5vh, 50px);
  left: 0;
  width: 120px;
  height: 120px;
  background-image: url("assets/zombie-gif.gif");
  background-size: cover;
  z-index: 999;
  animation:
    walkFlip 30s linear infinite,
    zombieGlow 1.5s ease-in-out infinite;
}

@keyframes walkFlip {
  0% {
    left: 0;
    transform: scaleX(1);
  }
  49.999% {
    left: calc(100vw - 120px);
    transform: scaleX(1);
  }
  50% {
    left: calc(100vw - 120px);
    transform: scaleX(-1);
  }
  100% {
    left: 0;
    transform: scaleX(-1);
  }
}

@keyframes zombieGlow {
  0%, 100% {
    filter: drop-shadow(0 0 3px red);
  }
  50% {
    filter: drop-shadow(0 0 px red);
  }
}
